// グローバルcss

// css変数
:root {
  --color-black: #333;
  --color-white: #fff;
  --color-background: #dad4c1;
  --color-green: #92b3b5;
  --color-light-pink: #c397a8;
  --color-light-blue: #9ac5e7;
  --color-light-purple: #998cbb;
  --color-dark-pink: #be6e82;
  --color-rose: #9e4f5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-background);
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
